.form-input {
    height: 150px;
    margin-top: 20px;
}

.window_texts {
    margin-top: 20px;
    width: 100%;
    resize: none;
    height: 80px;
    border-bottom: 1px solid #aaa;
}

.btn_post {
    float: right;
    background-color: rgb(21, 88, 144) ;
    color: white;
    font-weight: 500;
    border: none;
    padding: 8px;
    margin-top: 10px;
}