.element_lists {
    background-color: white;
    list-style-type: none;
    padding: 20px;
    margin-bottom: 10px;
}



.bottom-buttons {
    display: flex;
    flex-direction:row;
    justify-content: center;
    border-bottom: solid silver;
}

.button {
    padding: 0 100px;
    text-decoration: none;
    padding-bottom: 10px;
}

.input {
    margin: 15px 0;
    width: 97%;
    border: 1px solid silver;
    background-color: rgb(243, 242, 242);
    border-radius: 20px;
    padding: 7px;
}