.element_lists {
    background-color: white;
    list-style-type: none;
    padding: 20px;
    margin-bottom: 10px;
}

.info {
    display: flex;
    /* justify-content: space-between; */
}

.avatar {
    width: 90px;
    border-radius: 45px;
}

.contain {
    margin-left: 70px;
}

.name {
    color: rgb(21, 88, 144);
    font-weight: 600;
}

.bottom-buttons {
    display: flex;
    flex-direction:row;
    justify-content: center;
    border-bottom: solid silver;
}

.button {
    padding: 0 100px;
    text-decoration: none;
    padding-bottom: 10px;
}

.input {
    margin: 15px 0;
    width: 97%;
    border: 1px solid silver;
    background-color: rgb(243, 242, 242);
    border-radius: 20px;
    padding: 7px;
}